@font-face {
    font-family: 'Ambient';
    src: url('Ambient-Bold.eot');
    src: local('Ambient Bold'), local('Ambient-Bold'),
        url('Ambient-Bold.eot?#iefix') format('embedded-opentype'),
        url('Ambient-Bold.woff2') format('woff2'),
        url('Ambient-Bold.woff') format('woff'),
        url('Ambient-Bold.ttf') format('truetype'),
        url('Ambient-Bold.svg#Ambient-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

