
html, body, .wrapper, .container{
    height: 100%;
}

body{
    margin: 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    font-family: Arial;
    background-color: rgb(230, 230, 230);
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile{
    width: 90px;
    height: 90px;
    display: inline-block;
}

.selected{
    background-image: radial-gradient(rgba(20,85,30,0.5) 19%, rgba(0,0,0,0) 20%);
}


.tileB{
    background-color: #b58863;
}

.tileW{
    background-color: #f0d9b5;
}

#field{
    display: inline-block;
    cursor: pointer;
    user-select: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}

.row{
    height: 90px;
}

#figures{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Fcount{
    height: 60px;
    width: 60px;
    
}

.select-figure{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(17, 0, 255);
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
}

.pick{
    width: 90px;
    height: 90px;
    background-size: cover;
    background-color: #df6500;
    border: 2px solid black;
    transition: .2s;
    margin: 1px;
}

.pick:hover{
    background-color: #ff943d;
}

.figure{
    width: 90px;
    height: 90px;
    background-size: cover;
    z-index: 1;
    transition: transform .25s ease;
    position: absolute;
}

.chess-data{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}

.chess-data__figures{
    max-width: 400px;
}

.data{
    height: 300px;
    width: 400px;
    font-size: 20px;
    border-radius: 25px;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    
}

.data p{
    margin: 0;
}

.chess-data__border{
    padding: 15px;
    border-radius: 15px;
    background-color: white;
}


.chess-log{
    margin: 5px 0 5px 0;
    height: 150px;
    overflow: auto;
}

.chess-log__row{
    display: flex;
    width: 100%;
    height: 30px;
}

.chess-log__row div{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.num{
    background-color: rgb(209, 209, 209);
}

.move{
    background-color: bisque;
    transition: .5s;
    cursor: pointer;
}

.move, .num{
    width: 33%;
}

.move:hover{
    background-color: rgb(255, 245, 234);
}

.current-move{
    background-color: greenyellow;
}

.current-move:hover{
    background-color: rgb(0, 255, 98);
}

.data__name{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
    font-weight: bold;
}

.data__buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.data__buttons button{
    height: 40px;
    width: 60px;
    background-color: #df6500;
    cursor: pointer;
    transition: .3s;
}

.data__buttons button:hover{
    background-color: #b58863;
}

.chess-data__timer{
    font-size: 40px;
    font-family: sans-serif;
    background-color: white;
    display: inline-block;
    padding: 20px;
    margin: 0;
}

.chess-data__tools{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timer2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#timer1{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.coords{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(86, 168, 255);
    font-size: 30px;
    color: white;
}

.coords p{
    margin: 0;   
}

.coordsX{
  
    height: 45px;
    
}


.coordsY{
    flex-direction: column;
    width: 45px;
    padding: 45px 0 45px 0;
}


.field-container{
    display: flex;
}

.field-container__X{
    display: flex;
    flex-direction: column;
}

.endtext{
    font-size: 40px;
    font-family: Helvetica;
    font-weight: bold;
    padding: 25px;
    border-radius: 10px;
    position: absolute;
}

.mate{

    color: rgb(255, 106, 0);   
    background-color: rgb(0, 255, 128);
    
}

.pat{

    color: rgb(0, 68, 255);
    background-color: rgb(116, 117, 123);
}

.modal{
    z-index: 100;
    position: absolute;
    display: flex;
    background-color: rgb(132, 81, 177);
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.settings{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   color: white;
   min-width: 600px;
   min-height: 400px;
}

.settings__name p{
    display: inline;
    font-size: 25px;
}

.settings__time{
    font-size: 30px;
    color: white;
}

.settings__time input{
    color: white;
    width: 70px;
    padding: 5px;
    background-color: rgb(102, 0, 255);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
}

.settings__time input::placeholder{
    color: white;
    text-align: center;
}

.settings__time p{
    display: inline;
    margin: 0 5px 0 5px;
}

#input-name1, #input-name2{
    font-size: 25px;
    margin: 0 10px 0 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(30, 210, 66);
    padding: 15px;
    color: white;

}

#name1, #name2{
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

#name1{
    color: blue;  
}

#name2{
    color: red;
}

#save{
    padding: 10px 15px;
    background-color: red;
    outline: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s;

    color: white;
    font-size: 35px;
}

#save:hover{
    background-color: rgb(255, 79, 79);;
}

.message{
    background-color: red;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    position: absolute;
    font-size: 25px;
}

.message__text{
    color: white;

}

@media (max-width: 1391px) {
    .figure, .tile, .pick{
        width: 60px;
        height: 60px;
    }

    .row{
        height: 60px;
    }

    .Fcount{
        width: 45px;
        height: 45px;
    }

    .coords{
        font-size: 20px;
    }

    .coordsX{
        height: 30px;
    }

    .coordsY{
        width: 30px;
        padding: 30px 0 30px 0;
    }


    .data{
        height: 200px;
        width: 300px;
    }

    .chess-data__timer{
        font-size: 25px;
    }

}

@media (max-width: 926px){

    .chess-data__timer{
        font-size: 20px;
    }

    .container{
        flex-direction: column;
    }

    .chess-data{
        flex-direction: row;
        margin: 20px 0 20px 0;
    }

    .chess-log__row{
        height: 20px;
    }

    .chess-log{
        height: 100px;
    }

    .data__name p{
        font-size: 25px;
    }
}

@media (max-width: 602px){
    #input-name1, #input-name2{
        font-size: 15px;
        padding: 8px;
        width: 120px;
    }

    .settings{
        min-width: 250px;
        min-height: 300px;
    }
    
    .settings__time{
        font-size: 15px;
    }

    .settings__time input{
        font-size: 10px;
        width: 25px;
    }

    .settings__name p{
        font-size: 15px;
    }

    #save{
        font-size: 25px;
    }

    .endtext{
        font-size: 20px;
        padding: 10px 15px 10px 15px;
    }

}

@media (max-width: 541px){
    .figure, .tile, .pick{
        width: 30px;
        height: 30px;
    }

    .row{
        height: 30px;
    }

    .Fcount{
        width: 15px;
        height: 15px;
    }

    .coords{
        font-size: 10px;
    }

    .coordsX{
        height: 15px;
    }

    .coordsY{
        width: 15px;
        padding: 15px 0 15px 0;
    }

    .chess-log{
        font-size: 10px;
        height: 50px;
    }

    .chess-log__row{
        height: 15px;
    }

    .data{
        height: 100px;
        width: 200px;
    }

    .data__name p{
        font-size: 20px;
    }

    .chess-data__timer{
        font-size: 20px;
        padding: 10px;
    }

}
