@font-face {
    font-family: 'Ambient';
    src: url('Ambient-Medium.eot');
    src: local('Ambient Medium'), local('Ambient-Medium'),
        url('Ambient-Medium.eot?#iefix') format('embedded-opentype'),
        url('Ambient-Medium.woff2') format('woff2'),
        url('Ambient-Medium.woff') format('woff'),
        url('Ambient-Medium.ttf') format('truetype'),
        url('Ambient-Medium.svg#Ambient-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

