div{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background: red;
    padding-left: 100px;
}
.green{
    background: green;
}
.blue{
    background: blue;
}
.yellow{
    background: yellow;
}
#ui{
    background: #985252;
}