html, body {
	height: 100%;
	margin: 0;
}
body{
    background-color: #0e0e0e;
    color: white;
    font-family: BebasNeue;
    /*url("../img/image.png")*/   
}
.wrapper{
    margin: 15px auto 0;
	width: 600px;
    display: block;
	text-align: center;
}
.avatar{
    width: 230px;
    height: 230px;
    margin: 0 auto;  
    background: url("../img/3974923.png");
/*
    border-radius: 50%;
    border: 12px solid #fff;
*/
	background-size: cover;  
}
.avatar::after{
	content: "";
    display: block;
    width: 105%;
    height: 105%;
    background: red;
    position: relative;
    z-index: -1;
    border-radius: 50%;
    left: -2.5%;
    top: -2.5%;
	opacity: 0.7;
}
h1{
    font-size: 92px;
    font-style: italic;
    margin: 4px auto ;
	height: 90px;
}
h2{
    font-size: 40px;
    margin: 0px auto;
}
.nizhe{
    margin: 20px 0 auto;
}
.text{
    margin: 4px;
    font-family: PoppinsMedium;
    font-size: 12px;
    /*color: #fcfaf6;*/
}
@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: PoppinsMedium;
    src: url("../fonts/Poppins-Medium.ttf");
}
.soc1, .soc2, .soc3{
	display: inline-block;
    width: 24px;
    height: 24px;
    margin: 15px 7px;
}
.soc1{
    background: url(../img/Instagram.png);
	background-size: cover;
}
.soc2{
    background: url(../img/Facebook.png);
	background-size: cover;
}
.soc3{
    background: url(../img/Twitter.png);
	background-size: cover;
}
/*.soc{
    width: 24px;
    margin: 20px 10px 15px;
}*/
#motor{
	width: 31.25px;
	height: 26px;
	margin: 0px 10px;
}
#glav{
	font-size: 75px;
    font-style: italic;
    margin: 4px auto ;
	
}
/*
@media screen and (max-height: 720px) {
    h1, h2, #glav, .text{
         font-size: 85%;
    }
}
*/


@media screen and (max-height: 720px) {
    h1{
         font-size: 78.2px;
    }
    h2{
        font-size: 34px;
    }
    .avatar{
        width: 184px;
        height: 184px;
    }
    #glav{
        font-size: 63.75px;
    }
    .text{
        font-size: 10.2px; 
    }
    #motor{
        width: 26.5625px;
        height: 22.1px;
    }
}
    @media screen and (max-width: 800px)
{
    h1{
        font-size: 110.4px;
    }
    h2{
        font-size: 48;
    }
    .avatar{
        width: 276px;
        height: 276px;
    }
    #glav{
        font-size: 90px;
    }
    .text{
        font-size: 14.4;
    }
    #motor{
        width: 37.5px;
        height: 31.2px;
    }
}


